{% extends 'base.html.twig' %}

{% block title %}Loan calculator{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Loan calculator</h1>

    <p>Please see /README.md and OPEN API doc in /public/doc/source.yaml</p>
</div>
{% endblock %}
